@charset "utf-8";
/* CSS Document */
.clear {
	clear: both;
}
@font-face {
	font-family: 'black';
	src: url("../font/Avenir-Black.otf");
}
@font-face {
	font-family: 'italic';
	src: url("../font/Avenir-Italic.ttf");
}
@font-face {
	font-family: 'light';
	src: url("../font/Avenir-Light.otf");
}
@font-face {
	font-family: 'medium';
	src: url("../font/Avenir-Medium.otf");
}
@font-face {
	font-family: 'roman';
	src: url("../font/Avenir-Roman.ttf");
}
body {
	margin: 0!important;
	padding: 0!important;
	font-family: 'medium';
}

.pull-left.select_0.select_komentar.custom__indeks > select {
  height: 35px;
  padding: 8px 10px;
}
.lazy {
	transform: scale(1);
	transition: all 0.3s ease 0s, visibility 0s ease 0s;
}
.lazy:hover {
	transform: scale(1.1);
}
*::-moz-selection {
 color: #818892;
 background: #f9f6f0;
}
*::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.ads__top2 {
	width: 100%;
	height: 322px;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-position: center 0%!Important;
}
.header_first_rilis {
	background: #05b1a1;
	height: 77px;
	border-bottom: 5px #05678e solid;
	position: relative;
	margin-bottom: 65px;
}
.container.pos-relative {
	position: relative;
}
.header_fixed {
	background: #fff;
	position: absolute;
	width: 1138px;
	border-radius: 4px;
	padding: 10px 15px 0;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.logo__first.pull-left {
	width: 217px;
	height: auto;
}
.img__logo__first__rilis {
	width: 100%;
	height: auto;
}
.pull-left.center__header__rilis {
	padding-top: 9px;
}
.pull-left.center__header__rilis {
	padding-left: 17px;
	padding-right: 0px;
	width: 80%;
}
form {
	margin-bottom: 0px;
	padding: 0 !important;
	margin-top: 0 !important;
}
.search_first_header {
	margin-bottom: 14px;
}
.fa.fa-home.home-rilis-lampung {
	font-size: 20px;
	padding-right: 0px;
}
.search_first_header {
	width: 430px;
	float: left;
}
.search_first_header {
	position: relative;
}
.input_text_0_headline {
	background: #fdfdfd;
	border: 1px #e1e1e1 solid;
	color: #797979;
	border-radius: 6px;
	padding: 7px 10px;
	width: 100%;
	font-size: 16px;
}
.search_me_0 {
	position: absolute;
	right: 10px;
	bottom: 13px;
}
.fa.fa-search.search_ddd {
	color: #05b1a1;
}
.nav_header_in_01 {
	float: left;
	font-family: 'black';
	color: #000;
	text-transform: capitalize;
	padding-right: 13px;
	font-size: 14px;
	position: relative;
	padding-bottom: 15px;
	padding-top: 4px;
	line-height: 1;
}
.nav_header_in_01.dropdown.active {
	color: #05678e;
}
.in_kolom_rilis.kategori {
	margin-top: 30px;
	margin-bottom: 15px;
}
.col-lg-4.col-md-4.col-sm-4.kolom__rilis___home {
	margin-bottom: 20px;
}
.caret {
	margin-left: 0px;
	margin-top: -2px;
}
.icon_001 {
	float: left;
	color: #000;
	padding-right: 0px;
	padding-left: 0px;
}
.fa.fa-list-alt {
	font-size: 21px;
	color: #05b1a1;
}
.fa.fa-commenting-o {
	font-size: 18px;
	color: #05678e;
}
.text_icon_0001_header.pull-left {
	font-family: 'black';
	font-size: 16px;
	padding-left: 7px;
}
.pull-right.right__header__rilis {
	padding-top: 5px;
}
.right__header__rilis {
	width: 172px;
	height: auto;
}
.kolom__login__dan__daftar.log {
	padding-left: 2px;
	float: left;
	padding-top: 4px;
}
.kolom__login__dan__daftar > a {
	color: #05b1a1;
	font-family: 'black';
	text-decoration: none;
}
.kolom__login__dan__daftar > span {
	padding: 0 5px;
}
.kolom__two__right_rilis {
	padding-top: 0px;
	padding-left: 15px;
}
.kolom__two__right_rilis {
	color: #05b1a1;
	font-size: 20px;
	float: left;
}
.fa.fa-envelope.letter-message-rilis {
	cursor: pointer;
	padding-right: 8px;
}
.fa.fa-bell-o.notif-rilis {
	cursor: pointer;
}
.kolom__login__dan__daftar.cusomcj {
	background: #05b1a1;
	color: #fff;
	width: 189px;
	padding: 9px 10px;
	margin-top: 0px;
	border-radius: 3px;
	font-size: 14px;
	font-family: 'black';
	text-align: center;
	text-transform: uppercase;
	margin-left: 10px;
	height: 39px;
}
.img100 {
	width: 100%;
	height: auto;
}
.pos-relative {
	position: relative;
}
.ovhidden {
	overflow: hidden;
}
.caption_____big__headline_rilis {
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-left: 7px #05b1a1 solid;
	padding-left: 10px;
	padding-bottom: 15px;
}
.pull-left.caption____big__headline_rilis.date__time {
	color: #404040;
	font-family: 'light';
	font-size: 12px;
	padding-top: 7px;
}
.judul___berita______big__headline_rilis {
	font-size: 22px;
	line-height: 1.1;
	font-family: 'black';
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 55px;
	padding-right: 10px;
}
.pull-right.caption____big__headline_rilis.tags___caption____big__headline_rilis {
	background: #05b1a1;
	color: #fff;
	font-family: 'italic';
	padding: 3px 15px;
}
.pos-relative.image__big__headline_rilis {
	overflow: hidden;
	height: 338px;
}
.ovhidden.image______big__headline_rilis {
	position: relative;
	height: 338px;
}
.ovhidden.image______big__headline_rilis > img {
	height: 100%;
}
.pull-left.headline___two__base {
	border-left: 7px #05b1a1 solid;
	height: 337px;
	width: 30%;
}
.pull-left.big__picture__headline__rilis {
	width: 70%;
}
.caption_____big__headline_rilis {
	color: #404040;
}
.judul___berita______big__headline_rilis {
	color: #404040;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.pull-right.caption____big__headline_rilis.tags___caption____big__headline_rilis {
	text-transform: uppercase;
}
.caption.headline__small__two___2 {
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	bottom: 0;
	padding-bottom: 8px;
	border-right: 5px #05b1a1 solid;
}
.image_headline__two__small__rilis {
	position: relative;
	overflow: hidden;
	height: 169px;
}
.lazy.img100.img__headlinesmall {
	height: 100%;
}
.pull-right.right__headline__small__two___2__top {
	background: #05b1a1;
	color: #fff;
	font-size: 12px;
	padding: 3px 7px;
	font-family: 'italic';
	text-transform: uppercase;
}
.pull-left.left__headline__small__two___2__top {
	font-size: 12px;
	font-family: 'light';
	padding-top: 5px;
	padding-left: 5px;
}
.judul___berita______small__headline_rilis {
	color: #404040;
	font-family: 'black';
	line-height: 1.1;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 42px;
}
.col-lg-4.col-md-4.col-sm-6.col-xs-12.box__berita_terikini {
	margin-bottom: 10px;
}
.frame__berita_terkini__rilis {
	border: 1px #05b1a1 solid;
	padding: 10px;
}
.pull-left.image__berita__terkini {
	overflow: hidden;
}
.pull-left.image__berita__terkini {
	width: 170px;
	height: 100px;
}
.pull-left.room__berita__terkini {
	width: 180px;
	padding-left: 10px;
	padding-top: 0px;
}
.time__berita__terikini {
	float: left;
	font-size: 12px;
	line-height: 1;
	font-family: 'light'
}
.tagline__berita__terkini {
	float: right;
	font-size: 12px;
	color: #05b1a1;
	line-height: 1;
	font-family: 'black';
	text-transform: uppercase;
}
.judul__berita_terkini {
	color: #000;
	font-family: 'black';
	line-height: 1;
	font-size: 18px;
	padding-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 82px;
}
.pull-left.image__berita__terkini > a > .lazy {
	height: 100%;
	overflow: hidden;
	width: 100%
}
#berita__terkini___ {
	margin-top: 15px;
}
.widget-title.st-2-4 {
	margin: 0 0 26px;
	font-family: 'black'
}
.widget-title.st-2-4 h3 {
	color: #333333;
	display: inline-block;
	float: left;
	font-family: "black";
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	margin: 0 9px 0 0;
	text-transform: uppercase;
}
.widget-title.st-2-4 .separator-6 {
	border-bottom: 1px solid #05b1a1;
	border-top: 1px solid #05b1a1;
	display: block;
	height: 4px;
	margin: 11px 0 0;
	overflow: hidden;
	position: relative;
	top: 10px;
}
.row.less {
	margin: 0 -10px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.news__populer__pilihan__focus {
	padding: 0 10px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6.news__populer__pilihan__focus {
	padding: 0 10px;
}
.room__berita__popular {
	padding-top: 10px;
}
.pull-left.no__populer__rilis {
	width: 13%;
	text-align: left;
	color: #05b1a1;
	font-family: 'black';
	font-size: 33px;
	padding: 7px 0;
}
.pull-left.berita__populer__rilis {
	width: 87%;
	color: #303030;
	font-family: 'light';
	font-size: 19px;
	line-height: 1.1;
	border-bottom: 2px #05b1a1 solid;
	padding-bottom: 10px;
}
.in__room__berita__popular {
	margin-bottom: 20px;
}
.room__berita__pilihan {
	padding-top: 10px;
}
.image______berita____pilihan.rilis {
	overflow: hidden;
}
.tags___berita____pilihan.rilis {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #05b1a1;
	color: #fff;
	font-family: 'black';
	padding: 3px 10px;
	text-transform: uppercase;
}
.date__time___berita____pilihan.rilis {
	font-size: 12px;
	font-family: 'light';
	padding-top: 8px;
}
.judul____berita____pilihan.rilis {
	color: #303030;
	font-family: 'black';
	line-height: 1.1;
	font-size: 18px;
	padding-top: 3px;
}
.isi____berita____pilihan.rilis {
	color: #404040;
	font-family: 'light';
	line-height: 1.2;
	padding-top: 10px;
	text-align: left;
	overflow: hidden;
	height: 79px;
}
.kolom___berita____pilihan.rilis__002__rilis {
	overflow: hidden;
	height: 82px;
	margin-bottom: 8px;
}
.pull-left.img__kolom___berita____pilihan.rilis__002__rilis {
	width: 30%;
}
.pull-left.img__kolom___berita____pilihan.rilis__002__rilis.rtexs {
	width: 70%;
	padding-left: 10px;
}
.ovhidden.ov__kolom___berita____pilihan.rilis__002__rilis > img {
	height: 100%;
	width: 100%;
}
.ovhidden.ov__kolom___berita____pilihan.rilis__002__rilis {
	height: 85px;
}
.pull-left.datetime__berita____pilihan.rilis__002__rilis {
	font-size: 12px;
	line-height: 1;
	font-family: 'light';
}
.judul__berita_pilihan_02_rilis {
	color: #000;
	font-family: 'black';
	font-size: 14px;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 53px;
	padding-top: 3px;
}
.tags__berita____pilihan.rilis__002__rilis {
	font-size: 12px;
	color: #05b1a1;
	font-family: 'black';
	line-height: 1;
	padding-top: 5px;
	text-transform: uppercase;
}
.line_box {
	padding-top: 10px;
}
.img_fokus {
	overflow: hidden;
}
.paper_focus.first {
	padding-top: 10px;
}
.paper_focus {
	font-size: 16px;
	line-height: 1.1;
	color: #000;
	font-family: 'black';
}
.kolom_in {
	padding-top: 10px;
}
.left_icon_focus {
	float: left;
	width: 14px;
	color: #05b1a1;
}
.fa.fa-arrow-circle-o-right.oc1 {
	font-size: 12px;
}
.right_focus_berita {
	float: left;
	width: 93%;
	padding-left: 5px;
}
.thumbail {
	font-size: 11px;
	padding-bottom: 5px;
	padding-top: 5px;
	line-height: 1;
	font-family: 'light';
}
.focus_blue {
	text-transform: uppercase;
	padding-right: 14px;
	font-family: 'black';
	color: #05b1a1;
}
.post__gallery__video__small {
	position: relative;
	width: 100%;
	height: auto;
}
.image__video__small__rilis {
	overflow: hidden;
}
.circle__play__rilis_small {
	position: absolute;
	color: #fff;
	border: 1px #05b1a1 solid;
	background: rgb(5, 177, 161, 0.52);
	font-size: 15px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	text-align: center;
	padding-top: 12px;
	left: 37%;
	top: 29%;
}
.pos__absolute.duration__smaller___video {
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	background: rgb(5, 177, 161, 0.52);
	right: 0;
	padding: 5px 10px;
	font-family: 'light';
	z-index:1;
}
.video__title__smaller__rilis {
	padding-top: 10px;
	color: #fff;
	border-bottom: 2px #05b1a1 solid;
	padding-bottom: 10px;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 74px;
	font-family: 'light';
}
.video__title__smaller__rilis > span {
	color: #05b1a1;
	font-family: 'black';
}
.cover__video__gallery__rilis {
	background: #333;
	padding-top: 15px;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.h3fff {
	color: #fff !important;
}
.row.gallery__video__rilis__page__home__small {
	padding-top: 15px;
}
.row.center__berita__pilihan {
	margin: 0 -10px;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9.col_berita_pilihan_dan_populer_rilis {
	padding: 0 10px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.col_berita_pilihan_dan_populer_rilis {
	padding: 0 10px;
}
.page___kolom___rilis {
	border: 2px #05b1a1 solid;
	padding: 10px 10px;
	margin-bottom: 11px;
}
.pull-left.img__kolom.rilis {
	width: 22%;
	height: auto;
}
.pull-left.img__kolom.rilis > img {
	width: 100%;
	height: auto;
	border-radius: 100px;
}
.pull-left.isi___kolom.rilis {
	width: 78%;
	padding-left: 15px;
}
.title1__kolom__rilis {
	font-size: 16px;
	color: #05b1a1;
	font-family: 'black';
	line-height: 1.1;
	text-transform: uppercase;
}
.tag__berita__laiinya {
	color: #05b1a1;
	text-transform: uppercase;
}
.center__more__berita__rilis {
	background: #05b1a1;
	color: #fff;
	font-family: 'black';
	width: 192px;
	padding: 9px 0;
	border-radius: 4px;
	margin-top: 15px;
}
.title2__kolom__rilis {
	color: #000;
	font-family: 'light';
	font-size: 18px;
	line-height: 1.1;
	padding: 3px 0;
}
.name__kolom__rilis {
	color: #05678e;
	font-size: 14px;
}
.entry-item {
	margin-bottom: 15px;
	overflow: hidden;
	height: 245px;
}
.entry-item {
	background: #ffffff none repeat scroll 0 0;
	position: relative;
	border-bottom: 1px #05b1a1 solid;
}
.entry-item .entry-thumb {
	overflow: hidden;
}
.entry-thumb {
	position: relative;
}
.entry-item .entry-thumb img {
	height: auto;
	margin: 0;
	transition: all 0.3s ease 0s, visibility 0s ease 0s;
	width: 100%;
}
.entry-thumb img {
	transform: scale(1);
}
.article-list-17 .widget-content .entry-item .entry-thumb img {
	transition: all 0.3s ease 0s, visibility 0s ease 0s;
}
.entry-box {
	background: #ffffff none repeat scroll 0 0;
	margin: 0px 10px;
	max-width: 253px;
	padding: 0px 10px 7px;
	position: relative;
	width: 100%;
	z-index: 1;
	bottom: 23px;
}
.entry-date {
	font-size: 12px;
	font-family: 'light';
	position: relative;
	top: 2px;
}
.entry-title.st-4-1 {
	margin-top: 3px;
	margin-bottom: 5px;
}
.s41 {
	font-size: 22px;
	color: #333;
	font-family: 'black';
	line-height: 1;
}
.ads__top {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-position: center 0% !important;
}
.in_page__box_berita_pilihan_dan_populer_rilis {
	background: #f5f5f5;
	border: 1px #b6b6b6 solid;
}
.img__page__box_berita_pilihan_dan_populer_rilis.big_cj {
	overflow: hidden;
	height: 300px;
}
.img__page__box_berita_pilihan_dan_populer_rilis {
	overflow: hidden;
}
.img__page__box_berita_pilihan_dan_populer_rilis {
	position: relative;
}
.tag__line__berita__pilihan__01 {
	background: #f5f5f5;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px;
	color: #05b1a1;
	font-family: 'black';
	text-transform: uppercase;
}
.box__berita_pilihan_citizen.journalism {
	padding: 10px;
}
.tanggal-waktu-berita {
	font-size: 12px;
	line-height: 1.1;
	padding-bottom: 3px;
	font-family: 'light';
}
.judul__berita__01.big_cj {
	height: 46px;
}
.judul__berita__01 {
	color: #404040;
	font-size: 18px;
	line-height: 1;
	font-family: 'black';
	overflow: hidden;
	text-overflow: ellipsis;
	height: 38px;
}
.isi__berita__01.big_cj {
	height: 70px;
}
.isi__berita__01 {
	font-size: 14px;
	color: #202020;
	font-family: 'light';
	line-height: 1.1;
	padding-top: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 69px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-4.page__box_berita_pilihan_dan_populer_rilis.small_cj {
	height: auto;
}
.in_page__box_berita_pilihan_dan_populer_rilis {
	background: #f5f5f5;
	border: 1px #b6b6b6 solid;
}
.img__page__box_berita_pilihan_dan_populer_rilis.small_cj {
	overflow: hidden;
	height: 146px;
}
.tag__line__berita__pilihan__01 {
	background: #f5f5f5;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px;
	color: #05b1a1;
	font-family: 'medium';
	text-transform: uppercase;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-4.page__box_berita_pilihan_dan_populer_rilis {
	height: 372px;
	margin-bottom: 10px;
}
.in__kolom__point__rilis {
	margin-bottom: 16px;
}
.pull-left.img__point__user {
	overflow: hidden;
}
.pull-left.img__point__user > img {
	width: 51px;
	height: 51px;
	border-radius: 100px;
	border: 1px #05b1a1 solid;
}
.pull-left.name__user__point__rilis {
	line-height: 1.1;
	padding-top: 5px;
	width: 80%;
}
.pull-left.name__user__point__rilis {
	color: #000;
	font-family: 'medium';
	padding-left: 10px;
	font-size: 18px;
}
.pull-left.name__user__point__rilis > div {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.poin__user__box {
	color: #05b1a1;
	font-family: 'black';
	padding-top: 2px;
}
.tag_footer_div {
	border-top: 2px #05b1a1 solid;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom: 2px #05b1a1 solid;
}
.social_media_footer {
	width: 208px;
	padding-top: 10px;
}
.my_social {
	float: left;
	padding-right: 10px;
}
.fa.fa-facebook {
	background: #2330d2;
	color: #fff;
	padding: 8px 12px;
	font-size: 22px;
}
.fa.fa-twitter {
	background: #37a8fb;
	color: #fff;
	padding: 10px 10px;
	font-size: 18px;
}
.fa.fa-google-plus {
	background: #f00;
	padding: 12px 9px;
	font-size: 14px;
	color: #FFF;
}
.fa.fa-facebook.fb {
	font-size: 24px;
	border-radius: 30px;
	padding: 10px 17px;
}
.fa.fa-twitter.twitter {
	font-size: 24px;
	border-radius: 20px;
	padding: 10px 11px;
}
.fa.fa-instagram.instagram {
	font-size: 24px;
	border-radius: 20px;
	padding: 10px;
}
.fa.fa-google-plus.gplus {
	font-size: 18px;
	border-radius: 20px;
	padding: 13px 9px;
}
.my_social.menu_footer_none {
	padding-right: 0;
}
.fa.fa-instagram {
	color: #fff;
	background: #3c6cc8;
	padding: 11px 12px;
	font-size: 16px;
}
.left_t_footer_n01 {
	float: left;
	color: #9d9f9e;
	font-family: 'medium';
	width: 33%;
	text-align: center;
	font-size: 13px;
	padding-bottom: 10px;
}
.ads_rilis {
	overflow: hidden;
}
.nm__daerah {
	border: 2px #999 solid;
	padding: 10px;
	margin-bottom: 20px;
}
.pull-left.nama_daerah {
	color: #303030;
	font-family: 'black';
	width: 8%;
	text-align: center;
}
.pull-left.line__daerah {
	background: #05b1a1;
	width: 2px;
	height: 21px;
	margin: 0 10px;
}
.pull-right.nama_daerah {
	font-family: 'black';
	color: #05b1a1;
	padding-right: 6px;
}
.fa.fa-angle-down.angle-down {
	padding-left: 2px;
}
.nav_header_in_01.dropdown:hover {
	color: #05678e;
}
.col-lg-2.col-md-2.col-sm-2.col-xs-2.gallery__video__rilis__page__home__small {
	width: 20%;
}
.col-lg-8.col-md-8.col-sm-8.col-xs-8.col_berita_pilihan_dan_populer_rilis {
	padding: 0 10px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-4.col_berita_pilihan_dan_populer_rilis {
	padding: 0 10px;
}
.banner-klan-middle-01 > img {
	width: 100%;
	height: auto;
}
.banner-klan-middle-01 {
	margin-top: 35px;
	margin-bottom: 20px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6.six-section-bottom {
	padding: 0 10px;
}
.row.section-bottom-lampung.rilis {
	margin: 0 -10px;
}
.kolom-in-suarakampus-rilis {
	margin-top: 35px;
}
.in.page-kolom-bottom-rilis {
	margin-top: 35px;
}
.pull-left.img__kolom___berita____pilihan.rilis__002__rilis.suarakampus-rilis {
	width: 50%;
}
.ovhidden.ov__kolom___berita____pilihan.rilis__002__rilis.suarakampus-rilis {
	height: 105px;
}
.kolom___berita____pilihan.rilis__002__rilis.in-pos-kategori.suarakampus-rilis {
	height: 105px;
	margin-bottom: 15px;
}
.judul__berita_pilihan_02_rilis.suarakampus-rilis {
	height: 77px;
	font-size: 16px;
	line-height: 1.1;
}
.detail-agenda {
	font-size: 18px;
	color: #05b1a1;
	padding-top: 8px;
}
.pull-left.apps > img {
	width: 100%;
	height: auto;
}
.pull-left.apps {
	width: 48%;
}
.pull-left.apps.store {
	margin-left: 10px;
}
.apps__center {
	margin-top: 20px;
	margin-bottom: 10px;
}
.pull-left.sticky-login-daftar-rilis {
	padding-left: 15px;
	padding-top: 3px;
}
.fa.fa-search.search-sticky {
	color: #05b1a1;
	font-size: 18px;
	padding-top: 7px;
}
.pull-left.bell-sticky-header > i {
	color: #05b1a1;
	font-size: 20px;
	padding-top: 5px;
	padding-right: 10px;
}
.pull-left.message-header-sticky > i {
	color: #05b1a1;
	font-size: 19px;
	padding-right: 15px;
	padding-top: 6px;
}
a {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.pull-left.pencil-rilizen-sticky {
	color: #05b1a1;
	font-size: 22px;
	padding-top: 7px;
	padding-right: 15px;
	padding-left: 10px;
}
.pull-left.menu-sticky-header {
	padding-top: 6px;
	padding-right: 15px;
}
.pull-left.sub-menu-sticy {
	color: #333;
	font-size: 14px;
	font-family: 'black';
	padding-right: 13px;
	padding-top: 4px;
}
.pull-left.img-logo-sticky {
	width: 35px;
	margin-right: 15px;
}
.pull-left.img-logo-sticky > img {
	width: 100%;
	height: auto;
}
.header-sticky1 {
	padding: 10px 0;
}
.header-sticky1 {
	position: fixed;
	width: 100%;
	z-index: 6;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-top: 2px #05b1a1 solid;
	transition: all 1s;
	transform: translateY(0%);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	display: block;
	height: 57px;
	top: 0;
}
.header-sticky {
	display: none;
	webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	transform: translateY(-50%);
	position: absolute;
	background: #fff;
	top: 86px;
}
.pull-left.icon-fa-home {
	color: #05b1a1;
	font-size: 22px;
	padding-right: 10px;
	padding-top: 2px;
}
.dropdown.nav_menu.pull-left > a {
	font-size: 14px;
	font-family: 'black';
	color: #000;
	margin-right: 12px;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.dropdown-menu.post_toogle_color.dropdownhover-bottom {
	top: 21px;
	padding: 10px 10px 0 10px;
}
a > .room_dropdonwn_00_title_1 {
	color: #000;
	padding-bottom: 10px;
	font-size: 15px;
	line-height: 1;
	cursor: pointer;
}
.dropdown.nav_menu.pull-left.sticky {
	padding-top: 6px;
	line-height: 1;
}
.dropdown.nav_menu.pull-left.sticky > a {
	font-size: 14px;
	margin-right: 11px;
}
.iklan-page-01 > img {
	width: 100%;
	height: auto;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9.col_berita_pilihan_dan_populer_rilis.custom {
	width: 70%;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.col_berita_pilihan_dan_populer_rilis.custom {
	width: 30%;
}
.col-lg-6.col-md-6.col-sm-6.kolom__rilis___home {
	margin-bottom: 20px;
}
.kolom___berita____pilihan.rilis__002__rilis.in-pos-kategori.custom {
	margin-bottom: 15px;
}
.ads-iklan-800 > img {
	width: 100%;
	height: auto;
}
.ads-iklan-800 {
	margin-bottom: 20px;
}
.ads-iklan-800 {
	margin-bottom: 20px;
	margin-top: 15px;
}
.kolom___berita____pilihan.rilis__002__rilis.smaller-page2 {
	height: 80px;
	margin-bottom: 10px;
}
.ovhidden.ov__kolom___berita____pilihan.rilis__002__rilis.smaller-page2 {
	height: 80px;
}
.pull-left.img__kolom___berita____pilihan.rilis__002__rilis.rtexs.smaller-page2 {
	width: 60%;
}
.pull-left.img__kolom___berita____pilihan.rilis__002__rilis.smaller-page2 {
	width: 40%;
}
.judul__berita_pilihan_02_rilis.smaller-page2 {
	height: 50px;
	line-height: 1.1;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6.six__col-lg-6_rilis {
	margin-bottom: 15px;
}
.page-opini-rilis {
	margin-top: 35px;
}
.kolom___berita____pilihan.rilis__002__rilis.in-pos-kategori.suaraopini-rilis {
	margin-bottom: 20px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.post__video__homepage__rilis {
    overflow: hidden;
    height: 280px;
    position: relative;
}
.img100 {
    width: 100%;
    height: auto;
}
.post__title__video__homepage__rilis {
    position: relative;
    overflow: hidden;
    height: 280px;
}
.title__judul__video__big__rilis {
    font-size: 22px;
    line-height: 1.1;
    color: #000;
    font-family: 'black';
}
.title__judul__video__big__rilis > span {
    font-family: 'black';
    color: #05b1a1;
}
.resume__text__video__big__rilis {
    line-height: 1.1;
    font-size: 14px;
    padding-top: 10px;
    color: #333;
}
.post__absolute.time_and_date_video__rilis {
    position: absolute;
    bottom: 0;
    border-bottom: 2px #05b1a1 solid;
    width: 100%;
    padding-bottom: 10px;
}
.date__time__video_big_rilis {
    color: #000;
    padding-top: 5px;
}

.video__title__smaller__rilis.page-kategori {
  color: #000;
}
#kategori-page-rilis {
  margin-bottom: 10px;
}
.modal-dialog.searching-article {
  width: 1138px;
  margin: 10% auto;
}
.modal-content.searching-article {
  background: none;
  box-shadow: none;
  border: none;
}
.modal-header.searching-article {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.close.searching-article {
  opacity: 99 !important;
  filter: initial;
  font-size: 26px;
  color: #fff;
  border: 2px #ffff solid;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background: none;
}
.searching-article-input {
  position: relative;
  width: 100%;
}
input {
}
.searching-article-input > input {
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 11px 0px;
  font-size: 26px;
  color: #fff;
}
.fa.fa-search.searching-article-fa {
  position: absolute;
  font-size: 33px;
  color: #fff;
  right: 0;
  top: 10px;
}
.nav_header_in_01.dropdown.icon {
    padding-right: 10px;
    padding-top: 0;
}
.pad0{ margin-top:0px; padding-top:0px;}

/*post detail */
.sub_menu_page_detail {
    padding-top: 8px;
    padding-bottom: 10px;
}
.nama_sub0001 {
    float: left;
    font-size: 14px;
    color: #000;
    font-family: 'helvetica';
}
.nama_sub0001 > a {
    color: #000;
}
.right_sub {
    float: left;
    padding: 0 10px;
}
.fa.fa-angle-double-right.angle_0111 {
    color: #05678e;
    padding-top: 2px;
}
.judul_berita22 {
    font-size: 33px;
    padding-bottom: 20px;
    line-height: 1.1;
    color: #030303;
    font-family: 'black';
}

.col-lg-9.col-md-9.col-sm-9.col-xs-9.detail-page-rilis {
  padding: 0 10px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.detail-page-rilis {
  padding: 0 10px;
}
.img_kontributor_01 {
    float: left;
}
.kontributor_img_0 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.kontributor_img_0.admin {
    background: #ddd;
    border: 1px #cbb8b8 solid;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: none;
}
.room_post_name_in_date_kontributor {
    float: left;
    font-size: 14px;
    line-height: 1.2;
    color: #4a4a4a;
    padding: 9px 1px 8px 11px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 72%;
    overflow: hidden;
}
.penulis_gone_480 {
    color: #4a4a4a;
}
.room_post_name_in_date_kontributor > span {
    color: #999;
    font-size: 12px;
}
.room_total_101001 {
    float: right;
    background: #fff;
    padding: 4px 11px;
    border: 1px #ddd solid;
    border-radius: 5px;
    margin-right: 10px;
}
.no_pad_right {
    margin: 0;
        margin-right: 0px;
}
.jumlah_room_shared {
    text-align: center;
    font-size: 14px;
    color: #31859c;
}
.title_room_shared {
    text-align: center;
    color: #4a4a4a;
    line-height: 1;
}
.img_big_berita {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
}
.sub-berita_post {
    color: #6C6D6D;
    border-radius: 0 0 5px 5px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1.42;
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}
.aside_detail_berita {
    color: #000;
    font-family: 'light';
    font-size: 16px;
    line-height: 1.2;
}
.aside_detail_berita p {
    margin-bottom: 10px;
}
.baca-juga {
    width: 260px;
    margin: 0 19px 15px 0;
    padding: 10px 15px;
    float: left;
    border: 1px solid #05678e;
}
.baca-juga__header {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.25;
    color: #05678e;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 !important;
    margin-bottom: 0px;
    font-family: 'black';
}
.baca-juga__list {
    list-style: none;
    padding: 0;
        padding-left: 0px;
    padding-left: 0px;
    margin: 5px 0 0 0;
    padding-left: 0px;
}
.baca-juga__list li {
    padding: 10px 0;
    border-bottom: 1px solid #05678e;
}
.baca-juga__list li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
}
.room_share_down {
    width: 380px;
    margin-bottom: 15px;
}
.pull-left.text-left-share-down {
    color: #000;
    font-family: 'black';
    font-size: 18px;
    padding: 13px 0;
        padding-right: 0px;
    padding-right: 0px;
    padding-right: 16px;
}
.socmed_shared {
    float: left;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.kolom_tags {
    border-top: 1px #05b1a1 solid;
    border-bottom: 1px #05b1a1 solid;
    padding: 10px 0px;
    margin-bottom: 15px;
}
.tile_07655 {
    font-size: 26px;
    padding-bottom: 15px;
}
.room_emoticon_002 {
    margin-bottom: 15px;
}
.col-lg-2.col-md-2.col-sm-2.col-xs-2.two_reaction {
    width: 14%;
}
.room_emoticon_002 {
    margin-bottom: 15px;
}
.img-emoticon {
    padding-bottom: 5px;
    text-align: center;
}
.emoticon_0 {
    width: 64px;
    height: 64px;
}
.tanggapan {
    text-align: center;
    color: #000;
    font-size: 21px;
}
.room_persen {
    text-align: center;
    font-size: 18px;
    color: #4a80a2;
    font-family: 'black';
}
.room_persen {
    text-align: center;
    font-size: 18px;
    color: #4a80a2;
}
.img_socmed_128 {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}
.tags_01 {
    float: left;
    padding-right: 20px;
}
.text_tags {
    float: left;
    font-size: 26px;
    font-family: 'black';
}
.fatags {
    float: left;
    padding-left: 10px;
    padding-top: 14px;
}
.mini-tags {
	float: left;
	background: #31859c;
	color: #fff;
	padding: 4px 10px;
	font-family: 'black';
	font-size: 15px;
	margin: 6px 0px;
	margin-right: 10px;
}
.ads__top.pizza.ads14 {
    background-position: center 14% !important;
    height: 320px;
}
.pop_blocks_text_area {

    border: 1px solid #ededed;
    border-radius: 3px;
    margin-bottom: 25px;

}
form {
    margin-bottom: 0px;
    padding: 0 !important;
    margin-top: 0 !important;
}
.blocks_in_text_area_comment_account {
    background: #949293 none repeat scroll 0 0;
}
.right_blocks_area {
    background: #106287 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 30%;
    font-family: 'black';
}
.box_text_area_comment {
    height: auto;
    width: 100%;
}
.text_area_0000 {
    min-height: 140px;
    padding: 10px;
    width: 100%;
}
.box_ededed {

    background: #ededed none repeat scroll 0 0;
    padding: 10px;

}
.fl_500_01 {
    border-right: 1px dotted #787683;
    color: #787683;
    float: left;
    font-size: 14px;
    margin: 3px 0;
    padding-right: 5px;
    line-height: 1.1;
}
.for_right_000 {
    float: right;
}

.post_comment_000 {
    background: #106287 none repeat scroll 0 0;
    border: 1px solid #106287;
    color: #fff;
    font-size: 14px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
}

.room_penulis {
    padding-bottom: 20px;
}
.comment_to_detail0 {
    border-bottom: 3px solid #106287;
}
.fl_comment_to_001 {
    background: #106287 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 18px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    font-family: 'black';
}
.item_k {
    border-bottom: 1px solid #106287;
    padding: 20px 20px 20px 70px;
    position: relative;
}
.item_k img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid #dfdfdf;
    position: absolute;
    left: 0;
    top: 20px;
}
.item_k .message {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 0px;
}
.item_k .name {
    padding: 0 10px 8px 0;
    display: inline-block;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    font-family: 'black';
    line-height: 1.1;
}
.item_k .text-muted {
    color: #106287;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 11px;
    font-family: 'light';
    line-height: 1.1;
}
.in_comment_0965444 {
    margin-left: 0px;
    font-size: 12px;
    color: #8c8c8c;
    padding-top: 5px;
}
.post_komentar_88967858 {
    background: #05678E;
    color: #fff;
    width: 182px;
    border-radius: 2px;
    border: 1px #0E2630 solid;
    margin-top: 25px;
}
a > .left.btn2.see {
    color: #fff;
    font-family: 'black';
    padding: 5px 0;
}
.emoji_rilis {
    font-size: 12px;
    font-family: 'black';
    color: #fff;
    margin-left: 7px;
    font-style: normal;
    background: #05678e;
    padding: 0 6px;
}
.row.news__lainnya__berita.custom__again__rilis {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.ro0m___article___title_______line {
  margin-bottom: 15px;
}
.col-lg-6.col-md-6.col-sm-6.six__berita__lainnya.detail__custom__again {
  padding: 0 15px;
}
.ro0m___article___title_______line {
    border-bottom: 2px #05678E solid;
}
.red-500 {
    background-color: #05678E;
    color: #fff;
}
.box-title {
    width: 140px;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.12em;
    display: block;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.post___in___parents__two {
	position: relative;
	margin-bottom: 15px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6.parents__sub__kategori {
	position: relative;
	overflow: hidden;
	height: 77px;
}
.post__focus__kategori__first__rilis {
	position: relative;
	border-bottom: 2px #05678e solid;
	margin-bottom: 15px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-6.parents__sub__kategori.detail {
    height: 115px;
}
.judul__two__focus__kategori {
    font-size: 16px;
    line-height: 1.1;
    font-family: 'black';
    color: #333;
}
.time__-date__two__kategori__focu__rilis {
    font-size: 10px;
    color: #05678e;
    font-family: 'light';
    position: absolute;
    bottom: 0;
}
.tags___berita__detail___rilis {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-family: 'black';
    font-size: 10px;
    text-transform: uppercase;
    color: #05678e;
}

/*last post detail*/
/*kategori foto*/
.pull-left.left__berita_photo_rilis1 {
    width: 67%;
    padding-right: 3px;
}
.container_photo {
    position: relative;
}
.container_photo:hover .image {
    opacity: 0.3;
}
.lazy {
    transform: scale(1);
    transition: all 0.3s ease 0s, visibility 0s ease 0s;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container_photo:hover .middle {
    opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	cursor:pointer;
	width:100%; height:100%;
}
.text.photo-home-rilis {
    font-family: 'black';
    font-size: 18px;
    line-height: 1.1;
}
.text {
    color: #000;
    font-size: 16px;
    padding: 10px 15px;
}
.text.photo-home-rilis > span {
    padding-right: 5px;
}
.text.photo-home-rilis > span {
    font-family: 'black';
    color: #05678e;
}
.pos__absolute.home__camera__rilis {
    position: absolute;
    bottom: 10px;
    left: 5%;
    font-size: 19px;
    font-family: 'black';
    color: #05678e;
}
.pos__absolute.home__camera__rilis > span {
    padding-left: 5px;
}
.pos__absolute.home__time__camera__rilis {
    position: absolute;
	bottom:13px;
	right:13px;
}
.pull-left.left__berita_photo_rilis2 {
    width: 33%;
}
.row.three__photo__custom {
	margin: 0 -2px;
}
.row.three__photo__custom {
	margin-top: 3px;
}
.post__photo.down {
	height: 175px;
	overflow: hidden;
}
.post__photo.down > a > .container_photo {
	height: 175px;
	overflow: hidden;
}
.post__photo.down > a > .container_photo > .lazy {
	height: 100%;
}
.left__berita_photo_rilis201.plus2 {
    margin-top: 3px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-4.foto__down__home__rilis {
    padding: 0 2px;
}
.video__title__smaller__rilis.kategoriphoto {
    color: #000;
}
#foto-kategori-terpopuler {
    margin-bottom: 30px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.gallery__video__rilis__page__home__small.kategori {
    margin-bottom: 15px;
}
/*last kategori foto*/
/*kategori video*/

.col-lg-9.col-md-9.col-sm-9.col-xs-9.kategori-page-rilis {
  padding: 0 10px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.kategori-page-rilis {
  padding: 0 10px;
}
/*kategori video*/
.duration__video__big__rilis {
    color: #999;
    font-size: 18px;
    line-height: 1.1;
}
.glyphicon.glyphicon-time.timebig {
    padding-right: 6px;
}
.duration__video__big__rilis {
    color: #999;
    font-size: 18px;
    line-height: 1.1;
}
.circle__play__rilis {
	position: absolute;
	z-index: 1;
	font-size: 30px;
	top: 0;
	color: #fff;
	border: 3px #05678e solid;
	border-radius: 100px;
	width: 70px;
	text-align: center;
	height: 70px;
	padding-top: 17px;
	left: 43%;
	top: 35%;
	background: rgba(5, 103, 142, 0.52);
}
.circle__play__rilis {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.text-black{ color:#000!important;}

/*kategori video*/
/*agenda*/

.pull-right.tab_01_date_time {
  margin-bottom: 20px;
}
.form-control.tab_03_date_time {
  background: #fff;
}
.input-group-addon.tab_03_date_time {
  color: #f00;
}
.glyphicon.glyphicon-calendar.tab_03_date_time {
  color: #05b1a1;
}
/*agenda*/
/*detail foto*/
.container99 {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.image99 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}
.container99:hover .image99 {
  opacity: 0.3;
}

.container99:hover .middle {
  opacity: 1;
}

.fa.fa-search-plus.plus999 {
    color: #106287;
    font-size: 56px;
    cursor: pointer;
}

.left_01_img_rilis_foto {
  float: left;
  width: 100px;
  margin-right: 5px;
  border: 5px #fff solid;
}
.left_01_img_rilis_foto.left_ft {
  margin-right: 0px;
}
.nilai_jumlah_foto_00 {
  background: rgba(115, 116, 125, 0.65);
    font-family: 'black';
    color: #fff;
    position: absolute;
    width: 89px;
    right: 5px;
    height: 56px;
    text-align: center;
    font-size: 33px;
    padding: 4% 0;
    line-height: 1;
    bottom: 5px;
}
.pos_three_image_tilis {
    position: absolute;
    right: 10px;
    bottom: 9px;
}
.container99:hover .pos_three_image_tilis {
  opacity: 0.3;
}
.fancybox-caption {
    font-family: 'black';
    font-size: 22px;
    line-height: 1.2;
}
.img_100_m3{ width:100%; height:auto;}
.three_custom_000_home {
    float: left;
    width: 20%;
    background: #fff;
	position:relative;
}

.fa.fa-search-plus.plus999 {
    color: #106287;
    font-size: 56px;
    cursor: pointer;
}
.fa.fa-search-plus.plus999 {
    left: 47%;
    position: absolute;
    top: 40%;
}
.fa.fa-search-plus.plus999 {
    color: #106287;
    font-size: 56px;
    cursor: pointer;
}
/*detail foto*/
/*detail video*/
.ovh__rilis.image__relative__focus.detail {
    position: relative;
    overflow: hidden;
}
/*detail video*/
/*login dan detail*/
.big__large__content__rilis {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-cover-login {
    order: 1;
    flex: 1;
    background: url(../image/bandar-lampung-1024x540.jpg);
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.aside-left-login {
    position: absolute;
    margin: 0 auto;
    width: 480px;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
}
.panel-body-login {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    position: absolute;
    top: 49%;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.image___login > a img {
    width: 100%;
    height: auto;
}
.text-first-body-login {
    line-height: 1.1;
    color: #333;
    font-family: 'black';
    font-size: 18px;
    padding-top: 10px;
}
.pos__socmed__login {
    margin-top: 18px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 9px 25px;
    font-size: 15px;
    line-height: 1.33333;
    border-radius: 6px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .25s;
    box-shadow: 0 3px 15px 0 #3a5a9b;
    display: block;
    width: 250px;
}
.btn-fb, .btn-fb.focus, .btn-fb:focus {
    color: #fff;
    background-color: #3a5a9b;
    border-color: #3a5a9b;
}
.btn {
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.33333;
}
.btn-fb, .btn-fb.focus, .btn-fb:focus {
    color: #fff;
}
.sclogin {
    font-size: 24px;
    padding-right: 7px;
}
.text-first-body-login {
  line-height: 1.1;
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
}
.btn-fb:focus {
    color: #fff;
    background-color: #3a5a9b;
    border-color: #3a5a9b;
}
.btn-fb, .btn-fb.focus, .btn-fb:focus {
    color: #fff;
    background-color: #3a5a9b;
    border-color: #3a5a9b;
}

.btn-go:focus {
    color: #fff;
    background-color: #ee3b25;
    border-color: #ee3b25;
}
.btn-go, .btn-go.focus, .btn-go:focus {
    color: #fff;
    background-color: #ee3b25;
    border-color: #ee3b25;
}
.btn-tw:focus {
    color: #fff;
    background-color: #ee3b25;
    border-color: #ee3b25;
}
.btn-tw, .btn-tw.focus, .btn-tw:focus {
    color: #fff;
    background-color: #37a8fb;
    border-color: #37a8fb;
}
.fa.fa-twitter.sclogin {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 24px;
}
.fa.fa-twitter {
    background: #37a8fb;
    color: #fff;
    padding: 10px 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    font-size: 18px;
}
.divide_cid {
    text-align: center;
}
.divide_cid {
    border-top: solid 2px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
    margin: 36px 0 0 0;
}
.divide_cid span {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 30px;
    position: relative;
    top: -15px;
    font-family: 'latob';
    font-size: 18px;
    color: #fff;
}
.pos__login__input__rilis {
    margin-bottom: 15px;
}
.input__login__rilis {
    width: 340px;
    padding: 10px;
    border: 1px #05678e solid;
    border-radius: 3px;
    background: none;
	color:#fff;
}
.btn-rilis-login {
    background: #05b1a1;
    border: 1px #05b1a1 solid;
    color: #fff;
    border-radius: 4px;
    padding: 7px 15px;
    width: 135px;
}
.pos__two__login {
    padding-top: 22px;
}
.text__bottom__login__rilis {
    color: #fff;
    font-size: 15px;
    font-family: 'black';
}
.pos__socmed__login.pull-left.daftar__rilis {
    width: 33.33%;
    padding-right: 10px;
}
.pos__socmed__login.pull-left.daftar__rilis.nopd {
    padding-right: 0px;
}
.btn.daftar {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
/*login dan detail*/
